# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

benchmarks/*.pyc

.DS_Store
bencho/build/
bencho/plot_last_bench.txt
bencho/plot_last_run.txt
results/
bencho/settings.conf
benchmarks/bin
include/%   